.message-input {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 100%;
}

.message-input__field {
    flex-grow: 1;
    border-radius: 3px;
    resize: none;
    font-size: 20px;
    line-height: 24px;
    overflow: auto;
    height: auto;
    padding: 8px;
    width: 100%;
    margin: 5px 10px 5px 5px;
    border: none;
    border-bottom: 1px solid darkgrey;
}

.message-input__field:focus {
    outline: none;
}

.message-input__btn {
    flex-shrink: 0;
}
