.message {
    min-height: 15%;
    min-width: 20%;
    max-width: 60%;
    text-wrap: normal;
    margin-bottom: 5px;
    padding: 5px;
    color: #000000;
}

.message__options {
    margin-left: 7px;
}

.message--in {
    background: #dfe3ee;
    border-radius: 0 5px 5px 0;
}

.message--out {
    min-width: 20%;
    width: 60%;
    background: #90acf6;
    align-self: flex-end;
    border-radius: 5px 0 0 5px;
}
