.menu {
    background-color: #ffffff;
    padding-top: 1em;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    width: 100%;
}

.header div {
    font-size: 14px;
}

.header__title {
    font-size: 16px;
    margin: 0;
}

.header__participants, .header__msg-count {
    margin-left: 25px;
}

.header__last-msg {
    margin-left: auto;
    align-items: flex-end;
}
